// $base-font: monospace;

// $device-border: 5px solid rgb(146, 148, 148);

// .side-pannel {
//     width: 20vw;
//     background: #aec7dd;

//     display: flex;
//     flex-direction: column;

//     justify-content: flex-start;
//     align-items: center;
// }

// .left-board {
//     // border-right: $device-border;
    
//     #players {
//         width: 100%;
//         padding-inline-start: 0;
//         display: flex;
//         flex-direction: column;

//         .player {
//             width: auto;
//             padding: 0.5em;
//             margin: 0.25em 0.5em 0.25em 0.5em;
//             border-radius: 5px;

//             display: flex;
//             flex-direction: row;
//             justify-content: flex-start;

//             font: 100% $base-font;
//             background: #e9f1f8;
//             box-shadow: 2px 2px 0 #7f8d9d;

//             .name { margin-left: auto; margin-right: auto; }

//             &.alive { color: #99ff7a; }

//             &.self { font-weight: bold;}
//         }
//     }
// }

// .right-board {
//     // border-left: $device-border;

//     #codesFeed {
//         padding-inline-start: 0;
//         list-style: none;
//         width: auto;
    
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .code {
//             width: -webkit-fill-available;
//             padding: 0.5em;
//             font: 100% $base-font;

//             background: rgb(255,255,255);
//             border-bottom: 1px solid black;
//         }
//     }

//     #infoFeed {
//         padding-inline-start: 0;
//         list-style: none;
//         display: flex;
//         flex-direction: column;
    
//         align-items: flex-start;

//         .feed.error {
//             color: #ff6e6e;
//         }
//     }

//     #meetingBuzz {
//         justify-self: flex-end;
//         margin-top: auto;
//         margin: auto 0.5em 0.5em 0.5em;
//         padding: 0.5em;
        
//         border-radius: 5em;
//         height: 5em;
//         width: 5em;
//         border: none;
//     }
// }
   
// .main-board {
//     display: flex;
//     flex-direction: column;

//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;

//     text-align: center;
//     transition-duration: 0.4s;

//     #lobby {
//         border-radius: 10px;
//         // border: $device-border;
//         padding: 1em 2.5em 1em 2.5em;

//         background: #aec7dd;

//         font: 100% $base-font;
//     }

//     .game {
//         background: #ff6e6e;

//         width: 100%;
//         height: 100%;

//         display: flex;
//         flex-direction: column;

//         justify-content: center;
//         align-items: center;

//         #tasks {
//             list-style: none;

//             li[class^='task-'] {
//                 font-weight: bold;
//                 text-transform: uppercase;

//                 .failed {
//                     background: #ff6e6e;
//                 }

//                 .taskForm {
//                     display: flex;
//                     flex-direction: row;
//                 }
//             }
//         }

//         &.alive { background: #b9ff6e; }
//     }
// }