extends template

append content
    .container
        .navigationForm
            input#name(type="text", name="name", placeholder="Votre nom", required)
            button#createRoom Créer
            .joinRoom
                input#roomID(type="text", name="roomID", placeholder="Code", required)
                button#joinRoom >

append bodyScripts
    script(src="/scripts/clientHome.js")
        