extends template    

append headScripts
    script(src="../socket.io/socket.io.js")

append content
    .container
        .left-board.side-pannel
            ul#players

        .main-board
            #lobby
                h1#roomID #{roomID}
                
                .stateGroup
                    p#state CONNECTING
                    button#startGame(disabled) Lancer la partie

            #game(hidden)
                ul#tasks

        .right-board.side-pannel
            ul#codesFeed

append bodyScripts
    script. 
        let roomID = "#{roomID}";
        let name = "#{name}";
    script(src="/scripts/clientRoom.js")