extends template

append content
    form(action="/api/createRoom", method="get")
        input#name(type="text", name="name" required)
        button#createRoom Créer
    //- button#joinRoom Rejoindre

append bodyScripts
    script(src="/scripts/clientHome.js")
        