extends template

append content
    form(action="/api/createRoom", method="get")
        input#name(type="text", name="name", placeholder="Votre nom", required)
        button#createRoom Créer

append bodyScripts
    script(src="/scripts/clientHome.js")
        