extends template

append styles
    link(rel="stylesheet", href="/style/room.css")

append headScripts
    script(src="socket.io/socket.io.js")

append content
    .container
        .left-board
            ul#players

        .main-board
            h1#roomID #{roomID}
            
            .stateGroup
                p#state CONNECTING
                button#startGame(disabled) Lancer la partie

append bodyScripts
    script. 
        let roomID = "#{roomID}";
    script(src="/scripts/clientRoom.js")